<% if s.resource_type == 'Category'
     edit_path = edit_category_source_path(resource,s)
     expand_path = expand_category_source_path(resource,s)
     hash_path = hash_for_edit_category_source_path
     new_translated_path = new_category_source_translated_source_path(resource,s)
     hash_translated_path = hash_for_new_category_source_translated_source_path
   else
     edit_path = edit_category_description_source_path(resource.category, resource, s)
     expand_path = expand_category_description_source_path(resource.category, resource, s)
     hash_path = hash_for_edit_category_description_source_path
     new_translated_path = new_category_description_source_translated_source_path(resource.category, resource, s)
     hash_translated_path = hash_for_new_category_description_source_translated_source_path
   end
   form_remote_tag :url => new_translated_path, :update => 'info', :method => :get do %>
   <p>
<%=  link_to_remote '.', {:url => expand_path,  :method => 'get'},  { :class => 'descriptionplus_icon' } %>
<%=  "#{authorized?(hash_path) ? link_to_remote('MMS #'"#{s.mms_id}"', ' + formated_mms_pages(s), :url => edit_path, :update => 'info', :method => :get ) : 'MMS #'"#{s.mms_id}"', ' + formated_mms_pages(s) }" %>
<%   authorized_only hash_translated_path do %>
<%=    submit_tag 'add Source Translation' %>
<%   end %>
   </p>
<% end %>