a.treeempty { background:transparent url(http://thlib.org/global/images/btn-empty-lg.gif) no-repeat scroll 2px center; padding:0 0 0 19px;}
a.treeplus { background:transparent url(http://thlib.org/global/images/btn-plus-lg.gif) no-repeat scroll 2px center; padding:0 0 0 19px;}
a.treeplus_icon { background:transparent url(http://thlib.org/global/images/btn-plus-lg.gif) no-repeat scroll 2px center; padding:0 0 0 11px; border-bottom:0px; text-decoration: none;}
a.treeminus_icon { background:transparent url(http://thlib.org/global/images/btn-minus-lg.gif) no-repeat scroll 2px center; padding:0 0 0 11px; border-bottom:0px; text-decoration: none;}
a.treeminus { padding:0 0 0 19px;}

a.treeempty_unpublished { background:transparent url(http://thlib.org/global/images/btn-empty-lg.gif) no-repeat scroll 2px center; padding:0 0 0 19px; color: #989898;}
a.treeplus_unpublished{ background:transparent url(http://thlib.org/global/images/btn-plus-lg.gif) no-repeat scroll 2px center; padding:0 0 0 19px; color: #989898;}
a.treeminus_unpublished { color: #989898;}
  
a.unpublished { color: #989898;}
    
a.descriptionplus_icon { background:transparent url(http://thlib.org/global/images/btn-plus-lg.gif) no-repeat scroll 2px center; padding:0 0 0 11px; border-bottom:0px; text-decoration: none;}
a.descriptionminus_icon { background:transparent url(http://thlib.org/global/images/btn-minus-lg.gif) no-repeat scroll 2px center; padding:0 0 0 11px; border-bottom:0px; text-decoration: none;}

/* Node tree */
.node-plus, .node-minus, .node-empty{
	float:left;
	width:11px;
	height:11px;
	margin:5px 6px 0 0;
	border:0;
}

.node-plus{
	background:transparent no-repeat url(http://thlib.org/global/images/btn-plus-lg.gif);
}

.node-minus{
	background:transparent no-repeat url(http://thlib.org/global/images/btn-minus-lg.gif);
}

.node-empty{
	background:transparent no-repeat url(http://thlib.org/global/images/btn-empty-lg.gif);
}

#navigation .selected-node {
	background-color: #FFDDB5;
} 

/* styling for descriptions */
.content_by { font-variant:small-caps;}

.container-right-5050 {
float:right;
margin:0;
overflow:hidden;
padding:0;
width:49%;
}

.container-left-5050 {
float:left;
margin:0;
overflow:hidden;
padding:0;
width:49%;
}

#container-right-5050 .shell-2 { float:right; margin:0 auto; width:98%; padding-right:5px; padding-top:12px;}

#container-left-5050 .shell-2 { float:right; width:93%; padding-top:12px; }

.container-left-5050 h1 { padding-left:4px; margin:-4px 0 10px !important; margin:-4px 0 10px; position:relative; z-index:10; }
.container-right-5050 h1 { padding-left:4px; margin:-4px 0 10px !important; margin:-4px 0 10px; position:relative; z-index:10; width: 95%; }

.container-left-5050 h2 { padding-left:0; }

.selected_branch { background-color: #FFDDB5;}
 
div.padded {   
 padding-left: 2em;  
}
  		
ul.main_list
{
	list-style-type:square;
}

li.unpublished { color: #989898;}

.descriptions_div ul {list-style-type:square;margin-left:13px;}
.descriptions_div ol, .descriptions_div ul{padding-left:2em; margin-left:15px;font-size: 1.32em;}
.descriptions_div ol li, .descriptions_div ul li{margin-bottom:0px}
.descriptions_div ul li {margin-left:2px;}

/* These headings need to have smaller font-sizes than their counterparts on the rest of the page */ 
.descriptions_div h1{border-bottom:0px;margin: 0 !important;padding:0;font-size:19px;}
.descriptions_div h2{margin: 0;padding:0;font-size:17px;}
.descriptions_div h3{margin: 0;padding:0;font-size:16px;}
.descriptions_div h4{margin: 0;padding:0;font-weight:normal;font-size:15px;}
.descriptions_div h5{margin: 0;padding:0;font-weight:normal;color:#4F808B;}
.descriptions_div h6{margin: 0;padding:0;font-weight:normal;color:#4F808B;}

.descriptions_div h2.description_title{font-size:20px;}

.italic_link {
	font-size: 6px;
	font-weight: bold;
	color: #333;
}

.indented {
	padding-left: 0.66cm;
}

.pop_up_navigation
{
	font-size: 12px;
	line-height: 18px;
}

#content .shell-1 { width: 96%; }

#topics_main { padding-top: 10px; }