<% has_no_children = (logged_in? ? contracted.children : contracted.published_children).empty? %>
<% if has_no_children %>
      <span class="node-empty"></span>
<% else %>
<%= link_to_remote '', { :update => "node_#{contracted.id}_div", :url => { :action => 'expanded', :id => contracted.id, :category_id => @category.nil? ? @main_category.id : @category.id, :main_category_id => @main_category.id}, :complete => "$('node_#{@category.nil? ? @main_category.id : @category.id}_div > .node-name').addClassName('selected-node')" }, { :class => 'node-plus', :href => category_child_path(@main_category, contracted) } %>
<%  end %>
<%= render :partial => 'selectable_node', :locals => { :node => contracted } %>

<% if base_language?
      if has_no_children
        authorized_only hash_for_new_category_child_path do
          html_options = contracted.published? ? {} : { :class => 'treeminus_unpublished' } %>
          (<%= link_to_remote(ts('new.record', :what => t(:subcategory)), {:url => new_category_child_path(@main_category, :parent_id => contracted), :method => 'get', :update => 'info'}, html_options) %>)
<%      end
      end
    else %>
      (<%= link_to ts('translat.e'), edit_category_child_path(@main_category, contracted) %>)
<%  end %>