<p>
    <span id='unframe'><%= link_to ts('home.for', :what => t('topical_map.this', :count => :many)), root_path %> |</span>
<%= link_to ts('home.for', :what => h(@main_category.title)), category_child_path(@main_category, @main_category), :remote => true %>
</p>
