<h2><%= Category.model_name.human(:count => @categories.size).titleize %> Associated with <%= @object_title.s %></h2>
<ul class='main_list'>
<% for category in @categories do %>
     <li class="normal"><%= link_to h(category.title), category_child_path(category.root, category) %></li>
<% end %>
</ul>
<br />
<p><%= link_to ts(:in, :what => @object_title, :where => @object_type), @object_url %></p>
