<h2><%= ts 'topical_map.this', :count => :many %>
<%  if authorized? hash_for_new_category_path %>
      (<%= link_to ts('new.record', :what => t('topical_map.this', :count => 1)), new_category_path %>)
<%  end %>    
</h2>
<ul>
<% for category in @categories do %>
<li><%= link_to h(category.title), category_children_path(category) %></li>
<% end %>
</ul>
